<!doctype html>

<html lang="en">
	<head>
		<title>{{title}}</title>
		<link href="../details.css" type="text/css" rel="stylesheet" />
		<link href="../popupForm.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		
		<h2>
			<nav class = "nav"> 
				<a href="/homepage">Home</a>
				<a href="#about">About Us</a>
				<a href="/upload">Upload Art</a>
				<a href="/search">Search</a>
        	</nav> 
		</h2>
		<h1>{{title}}</h1>{{log userid.id}}
		<a href='/user-homepage/{{userid.id}}'><section class='sellerSide'>
			<section class='sellerProfile'>
				<img  class='profilePicture' src="../avatars/{{owner}}.jpeg" width="100" height="100" alt="Profile Picture"/>
				<p>Seller: {{owner}}</p>
			</section> </a>
			<section class='sellerDetails'>
					<p>Title: {{title}}</p>
					<p>Price: £{{price}}</p>
					<p>{{shortDesc}}</p>
					<p>{{longDesc}}</p>
			</section>		
		</section>

		<aside class='imageSide'>
			<img id="artwork" class='artPicture' src="../itemImages/{{id}}/0.jpeg" alt="Picture of the Art Piece"/>
				<img class="thumbnails" src="../itemImages/{{id}}/0.jpeg" alt="Art"/>
				<img class="thumbnails" src="../itemImages/{{id}}/1.jpeg" alt="Art"/>
				<img class="thumbnails" src="../itemImages/{{id}}/2.jpeg" alt="Art"/>
				<img class="thumbnails" src="../itemImages/{{id}}/3.jpeg" alt="Art"/>
				<img class="thumbnails" src="../itemImages/{{id}}/4.jpeg" alt="Art"/>	
			<button onclick="pictureChange('prev')"><</button>
			<button onclick="pictureChange('next')">></button>
			<footer class="imageSideFooter">{{longDesc}}</footer>
			<p class="p1">Low Interest</p>
			<p class="p2">Medium Interest</p>
			<p class="p3">High interest</p>
		</aside>

		<section class = "interest">
			<p>How Interested are you?</p>
			<form action="/details" enctype="multipart/form-data" method="post">
				<input type="range" name="interest" min='1' max='3' value="l"><br>
				<input type="submit" value="Submit">
			</form>
		</section>
		{{#if detailsmsg}}
		<p>{{detailsmsg.msg}}</p>
		{{/if}}
		<footer class='sellerDetailsFooter'>
				<form action="/emailConfirmation" method="post" style="width:20rem">
  					 	<label>Your email</label>
  						<input type="email" name="email" value="{{userdata.email}}"/>
  					 	<label>Message</label>
  					  	<input type="text" name="message" />
   						<input type="submit" name="submit" value="Contact seller" />
				</form>
		</footer>
	</body>
	<script>
		//Picture change button	
		var currentImage = 0
		var images = [];

		for(var i = 0; i < 5; i++)
		{
			var item = "../itemImages/{{id}}/".concat(i, ".jpeg")
			images.push(item)
		}
	function pictureChange(param)
	{
		if(param === 'next')
      	{
        	currentImage++;
            if(currentImage === images.length){ currentImage = images.length - 1; }
		}
		else{
            currentImage--;
            if(currentImage < 0){ currentImage = 0; }
        }
		document.getElementById('artwork').src=images[currentImage];
	}
	</script>
</html>
