<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Homepage</title>
		<link href="gallery.css" type="text/css" rel="stylesheet" />
	</head>
    <body>
        <header>
            <h1>Gallery</h1>
        </header>

        <nav class = "nav"> 
            <a href="/homepage">Home</a>
            <a href="/login">Login</a>
            <a href="#about">About Us</a>
            <a href="/upload">Upload Art</a>
            <a href="/search">Search</a>
        </nav> 

        <section>
            

            <h3>Username: {{user.user}}</h3>
            <img src="../avatars/{{user.user}}.jpeg" alt="Picture of the user" width = "200" height = "200"/></a>
            <h3>Email: {{user.email}}</h3>

        </section>

        <h3>Your items:</h3>
        {{#each owned}}
                <section class = "row">
                    <figure>
                        <a href="../details/{{this.id}}">
                        <img src="../itemImages/{{this.id}}/0.jpeg" alt="Picture of an artpiece for sale" width = "200" height = "200"/></a>
                        <figcaption>Title: {{this.title}} price: {{this.price}}  </figcaption>
                    </figure>
                </section>
        {{/each}}
        <aside class='imageSide'>
        <h3>Your interests:</h3>
         {{#each interest}}
                <section class = "row">
                    <figure>
                        <a href="../details/{{this.itemid}}">
                        <img src="../itemImages/{{this.itemid}}/0.jpeg" alt="Picture of an artpiece for sale" width = "200" height = "200"/></a>
                        <figcaption>interest: {{this.interest}}</figcaption>
                    </figure>
                </section>
        {{/each}}
        </aside>
        
    </body>
